.spacer {
  flex: 1 1 auto;
}

nav a {
  margin-left: var(--mat-spacing-1);
  transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border-radius: var(--mat-sys-corner-small);

  &:hover:not(.active) {
    background-color: var(--mat-sys-surface-variant);
  }
}

nav a.active {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border-radius: var(--mat-sys-corner-small);
}

main {
  padding: var(--mat-spacing-2);
  height: calc(100vh - 64px);
  overflow: hidden;
  box-sizing: border-box;
}
