<div class="date-selector">
  <mat-form-field appearance="outline">
    <mat-label>{{ translationService.t('chat.dateLabel') }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateChange($event)"
      readonly>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="date-info">
    <small>{{ translationService.t('chat.dateInfo') }}</small>
  </div>
</div>