.date-selector {
  display: flex;
  flex-direction: column;
  gap: var(--mat-spacing-1);
  padding: var(--mat-spacing-2);
  background-color: var(--mat-sys-surface-container-highest);
  border-radius: var(--mat-sys-corner-medium);
  border: 1px solid var(--mat-sys-outline-variant);
}

.date-info {
  color: var(--mat-sys-on-surface-variant);
  font: var(--mat-sys-body-small);
}

mat-form-field {
  width: 200px;

  .mat-mdc-form-field-focus-overlay {
    background-color: var(--mat-sys-primary-container);
  }

  .mat-mdc-text-field-wrapper {
    background-color: var(--mat-sys-surface-container);
    border-radius: var(--mat-sys-corner-small);
  }
}